<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.remi.espie.brosignal">
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/brosignal"
        android:label="@string/app_name"
        android:roundIcon="@drawable/brosignal"
        android:supportsRtl="true"
        android:theme="@style/Theme.BroSignal"
        android:launchMode="singleTask">
        <activity
            android:name="me.remi.espie.brosignal.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>